<p class="newComic-title">Detail view of a comic</p>

<div class="detailComic-form">
    <form>
        <b>Title:</b>
        <p>{{comic.title}}</p>

        <b>Volume number:</b>
        <p>{{comic.volumeNumber}}</p>

        <b>Genre:</b>
        <p>{{comic.genre}}</p>

        <b>Pages:</b>
        <p>{{comic.numberPages}}</p>

        <b>Description:</b>
        <p>{{comic.description}}</p>

        <b>Your Opinion:</b>
        <p> {{comic.opinion}}</p>
    </form>
    <p><a href="/profile">Go back to profile</a></p>
</div>